body{
    display: flex;
}
.container1{
    background-image: url(media\istockphoto-1173451503-612x612.jpg);
    height: 100vh;
    width: 50vw;
}

.container2{
    height: 100vh;
    width: 50vh;
}

.img{
    max-height: 100vh;
    max-width: auto;
}

.form{
    margin: 10rem 10rem 10rem 10rem;
}